div#volume.fluid-container(data-ng-init="initVolume()", ng-class="showVolumeControl == true ? '' : 'hidden'").animated
	div.row
		div.col-md-12.col-xs-12
			div.volume-control
				div.progressbar
					span.amount 50