div#menu
	div.container
		div.col-md-3.col-xs-3
			a(href="/music").menu-item
				span Now playing
					i.ion-radio-waves.nowplaying
		div.col-md-3.col-xs-3
			a(href="/music/playlists").menu-item
				span Playlists
					i.ion-ios-list-outline.playlists
		div.col-md-3.col-xs-3
			a(href="/music/settings").menu-item
				span Settings
					i.ion-ios-gear-outline.settings
		div.col-md-3.col-xs-3
			a(href="/music/search").menu-item
				span Search
					i.ion-ios-search