div#car.page(data-ng-init="init()")
	div.page-content.container-fluid.text-center
		div.col-xs-4.col-md-4.rpm
			h1 {{rpm}}
			h3 rpm
		div.col-xs-4.col-md-4.speed
			h1 {{vss}}
			h3 km/h
		div.col-xs-4.col-md-4.throttle
			h1 {{throttlepos}}
				small %
			h3 throttle